.header {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  padding: 20px 100px;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 20px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left {
  max-width: 444px; /* limitar tamanho */
}

.header-body {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-height: 250px;
}

button {
  background-color: #3882f6;
  color: white;
}
