* {
  font-family: sans-serif;
}

.header {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  padding: 20px 100px 100px;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 20px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left {
  max-width: 444px; /* limitar tamanho */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-body {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-height: 250px;
}

button {
  background-color: #3882f6;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  max-width: 150px;
}

.section-2 {
  padding: 50px 0;
}

.title-section-2 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 50px;
}

.boxes {
  color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.box {
  max-width: 135px;
  text-align: center;
}

.square {
  width: 135px;
  height: 135px;
  border: solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.section-3 {
  padding: 150px;
  background: #e5e7eb;
  color: #1f2937;
}

.section-3-text {
  margin: 0 auto;
  max-width: 800px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.section-4 {
  padding: 100px 150px;
}

.blue-box {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.title-box {
  font-size: 30px;
  font-weight: bold;
}

.text-box {
  font-size: 20px;
  font-weight: lighter;
}

.section-4 button {
  border: 2px solid #f9faf8;
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
